include include/sauce-common
+sauce-layout('Get your SCCS account')(user='user', hideNavbar)
  h1.mb-4 Get your SCCS account
  p
    | Your SCCS account lets you manage your mailing lists, create RSD
    | events, sign into computers in the Media Lounge, and much more.
    | SCCS accounts are available to all Swarthmore students, faculty,
    | and staff&mdash;and you'll still be able to access it after
    | graduation.
  form#createForm.form-signin.needs-validation(action='/account/init', method='post', novalidate)
    input(type='hidden', name='id', value=id)
    input(type='hidden', name='key', value=key)
    .form-group.mb-3
      .form-floating
        script(type='text/javascript').
          function validateUsername() {
            console.log(this);
          }
    .form-group.mb-3
      .form-floating
        input#emailInput.form-control(
          type='email',
          pattern='.+@swarthmore\.edu',
          name='email',
          placeholder='Email',
          required
        )
        label(for='emailInput') Swarthmore email
        #emailFeedback.invalid-feedback Please provide a valid @swarthmore.edu email
          label.form-check-label(for='classYear1' + val, style='text-transform: capitalize')= /^\d+$/.test(val) ? '\u2019' + val : val
    button#submitButton.btn.btn-large.btn-primary.mb-3(type='submit') Get Your Account
    p.text-muted.mb-0 Already have an account? #[a(href='/login') Sign in].
  script(type='text/javascript', src='/dist/js/createAccount.js')
  //- .col
