.row
  h1.display-1.mb-4
    span(style='font-weight:bold') SCCS 
    | Dashboard
  .col-12.col-xl-7.mb-2.px-3
    mixin service(title, desc, linkText, href)
      .col-12.col-lg-6.mb-3
        .card.h-100.shadow-sm
          .card-body.d-flex.flex-column
            h5.card-title= title
            p.card-text= desc
            a.btn.btn-primary.mt-auto(href=href)= linkText
    h2.mb-4 Our Services
    .row.gx-3
      +service("Mailing Lists", "Distribute emails to clubs or student organizations", 'Manage lists', '/lists')
      +service("The Cygnet", "The Swarthmore College student directory", 'Search the Cygnet', 'https://cygnet.sccs.swarthmore.edu')
      +service("Reserved Students Digest", "A daily email with news, events, jobs, and more", 'View the RSD', 'https://rsd.sccs.swarthmore.edu')
      +service("Course Planner", "Plan your schedule for next semester", 'View the planner', 'https://schedule.sccs.swarthmore.edu')
      +service("SCCS Sites", "Create your own websites using Wordpress", 'Create your site', 'https://sites.sccs.swarthmore.edu')
      +service("Server Access", "Utilize our server resources from the Cockpit dashboard", 'Log into Robin', 'https://robin.sccs.swarthmore.edu/')
      +service("GPA Calculator", "Get your GPA by copy-pasting from MySwarthmore", 'Calculate your GPA', 'https://gpacalc.sccs.swarthmore.edu')
      +service("Documentation", "Read our help pages and FAQs", 'Read our docs', '/docs')
    p.text-muted 
      | Looking for something specific? We can provide advanced web hosting, private VMs, databases, equipment loans, 
      | and more. Contact us at #[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu] for more info.
  .col-12.col-xl.px-3
    if posts
      h2.mb-4 News and Updates
      - var i = 0
        each post in posts
          if i<3
            .card.w-100.mb-3.shadow-sm
              .card-body
                h5.card-title= post.data.title
                h6.card-subtitle.mb-2.text-muted= post.data.date.toLocaleDateString()
                //- counteract the margin-bottom applied to <p> elements so the card bottom isn't weirdly long
                div(style='margin-bottom: -1rem')!= post.content
          - i++
      p.text-muted
      | #[a(href='https://www.sccs.swarthmore.edu/feed') View more]
