include include/sauce-common

doctype
html(lang='en')
  head
    include include/head.pug
    title= title
    meta(property='og:title', content=`Error ${status}`)
    meta(property='og:type', content='website')
    meta(property='og:image', content=`${process.env.EXTERNAL_ADDRESS}/static/sccs-logo.png`)
    meta(property='og:url', content=process.env.EXTERNAL_ADDRESS + path)
    meta(property='og:site_name', content='Swarthmore College Computer Society')
    meta(property='twitter:card', content='summary')
    meta(property='twitter:domain', content='sccs.swarthmore.edu')
    meta(property='twitter:url', content=process.env.EXTERNAL_ADDRESS + path)
    meta(property='twitter:title', content=title)
    meta(property='twitter:image', content=`${process.env.EXTERNAL_ADDRESS}/static/sccs-logo.png`)
    meta(property='twitter:image:alt', content='SCCS logo')
  body 
    +sauce-container(hideNavbar=!showNavbar, hideFooter=!showFooter)
      h1.mb-4.display-1= title
      div(style='max-width: 600px')
        case status
          when 500
            p
              | Something weird just happened on our end. We've been notified
              | about the problem. If you have any questions, email us
              | at&nbsp;#[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu].
          when 404
            if msg
              - var loc = `at <code>${msg}</code>`;
            else
              - var loc = 'here';
            p
              | There's no page !{ loc }. If you got here from clicking a link on an
              | SCCS website, please let us know at
              |                  #[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu].
          when 403
            if friendlyMessage
              p !{ friendlyMessage }
            else
              p
                | You don't have permission to access this page. If you think this is in
                | error, contact SCCS leadership.
          default
            p !{ friendlyMessage }

        p #[a(href='/') Back to homepage]
