include include/sauce-common

doctype
html(lang='en')
  head
    include include/head.pug
    title Swarthmore College Computer Society
    meta(property='og:title', content='SCCS Homepage')
    meta(property='og:type', content='website')
    meta(property='og:image', content=`${process.env.EXTERNAL_ADDRESS}/static/sccs-logo.png`)
    meta(property='og:url', content=process.env.EXTERNAL_ADDRESS + path)
    meta(property='og:site_name', content='Swarthmore College Computer Society')
    meta(
      property='og:description',
      content='We\'re a collective of student volunteers who maintain digital services for the students, staff, and alumni of Swarthmore College.'
    )
    meta(property='twitter:card', content='summary')
    meta(property='twitter:domain', content='sccs.swarthmore.edu')
    meta(property='twitter:url', content=process.env.EXTERNAL_ADDRESS + path)
    meta(property='twitter:title', content=title)
    meta(property='twitter:image', content=`${process.env.EXTERNAL_ADDRESS}/static/sccs-logo.png`)
    meta(property='twitter:image:alt', content='SCCS logo')
  body
    +sauce-container('index')(pageId='index', user=user)
      if user
        include dashboard
      else
        include homepage-splash
    script(type='text/javascript', src='/dist/js/bootstrapScripts.js')
