include include/sauce-common

+sauce-layout('SCCS Mailing Lists', 'mailing', user)
  script(type='text/javascript')
    include js/mailingLists.js
  h1.mb-4 Mailing List Management
  #creationAlertContainer
  script#creationAlert(type='text/html')
    #listCreateSuccess.alert.alert-success.alert-dismissible.fade.show(role='alert')
      p.mb-0.
        Your list creation request was successfully submitted!
      button.btn-close(type='button', data-bs-dismiss='alert', aria-label='Close')
  p.
    SCCS mailing lists are great for clubs&mdash;you can send email blasts, add moderation rules, 
    and much more. You can manage your existing mailing lists through the GNU Mailman web interface,
    or create a new mailing list here. 
  a.btn.btn-primary.btn-lg.m-1(href='https://lists.sccs.swarthmore.edu/') Manage my lists
  button.btn.btn-primary.btn-lg.m-1(
    type='button',
    data-bs-toggle='modal',
    data-bs-target='#newMailingModal'
  ) Create a new list
  #newMailingModal.modal.fade(
    tabindex='-1',
    aria-labelledby='newMailingModalTitle',
    aria-hidden='true'
  )
    .modal-dialog 
      .modal-content 
        .modal-header
          h5#newMailingModalTitle.modal-title Create a New Mailing List
          button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
        form#mailingForm.form-mailing.needs-validation(
          novalidate,
          onsubmit='doFormSubmit(); return false;'
        )
          .modal-body
            p.
              To prevent abuse, SCCS staff manually 
              approve all mailing list creation requests. When classes are in session, this usually 
              happens within a few hours. You'll get an email once your request is approved.
            .form-group
              .input-group.has-validation
                input#nameInput.form-control(
                  type='text',
                  name='name',
                  placeholder='List address',
                  pattern=nameRegex,
                  aria-describedby='nameLabel nameHelp',
                  oninput='clearValidation()'
                )
                span#nameLabel.input-group-text @sccs.swarthmore.edu
                p#nameFeedback.invalid-feedback.mb-0 List name is invalid, or list already exists.
                #nameHelp.form-text
                  | List addresses can contain lowercase letters, numbers, hyphens, and underscores.

          .modal-footer
            button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
            button#createButton.btn.btn-success(type='submit') Request
            script#createLoading(type='text/html')
              span.spinner-border.spinner-border-sm(role='status', aria-hidden='true')
              | &nbsp;Requesting...
