include include/sauce-common

+sauce-layout('Minecraft server info')(pageId='minecraft', user=user, includeBootstrapScripts)
  h1.mb-4 Minecraft Server Whitelist
  p
    | SCCS hosts a public Minecraft server open to the Swarthmore community. Before playing, you'll
    | need to connect your SCCS account to your Minecraft account below.

  a.btn.btn-secondary.mb-3(href='https://mc.sccs.swarthmore.edu') Live Server Map

  #advancedAccordion.accordion
    .accordion-item
      h2#headingConnection.accordion-header
        button.accordion-button.collapsed(
          type='button',
          data-bs-toggle='collapse',
          data-bs-target='#collapseConnection',
          aria-expanded='false',
          aria-controls='collapseConnection'
        )
          | Connection Details
      #collapseConnection.accordion-collapse.collapse(aria-labelledby='headingConnection')
        .accordion-body
          h3 Server URL
          p
            | If auto discovery isn't working, add the server manually with the following URL
          .card.mb-3(style='width: 100%')
            .card-body
              pre.mb-0 mc.sccs.swarthmore.edu
          h3 Off-Campus Connections
          p
            | Alumni and off-campus students will need to forward Minecraft traffic via SSH<br>
            | Run the following #[code ssh] command and manually add the server as #[code localhost]
          .card.mb-3(style='width: 100%')
            .card-body
              pre.mb-0 ssh -L localhost:25565:mc.sccs.swarthmore.edu:25565 ssh.sccs.swarthmore.edu

  hr

  if mcInfo !== null
    .row
      .col-12.col-sm-auto.text-center
        img.me-3.mb-3(
          src=`https://crafatar.com/renders/body/${mcInfo.uuid}?overlay=true`,
          alt='Minecraft Skin',
          crossorigin='anonymous'
        )
      .col
        h3 You're ready to go!
        p
          | Your Minecraft account #[code #{ mcInfo.username }] has been connected and added to the
          | server whitelist. Connect to #[code mc.sccs.swarthmore.edu] to start playing!
        p.small.text-muted
          | If you'd like to whitelist more than one account, contact the server administrator.
        p.small
          form(action='/minecraft/remove', method='post')
            input(type='hidden', name='_csrf', value=csrfToken())
            button.btn.btn-link.btn-sm.text-danger.p-0(type='submit') Unlink account

  else
    p You haven't added a Minecraft account yet.
    form#addAccountForm.container.form-inline.px-0(action='/minecraft/', method='post')
      input(type='hidden', name='_csrf', value=csrfToken())
      .form-group.mb-3
        .form-floating
          input#usernameInput.form-control(
            type='text',
            name='mcUser',
            placeholder='Username',
            aria-describedby='errorFeedback',
            class={ 'is-invalid': !!err }
          )
          label(for='usernameInput') Minecraft username
          #errorFeedback.invalid-feedback= err || 'An unknown error occured.'
      button.btn.btn-primary.mb-3(type='submit') Add Account
