include include/sauce-common

+sauce-layout('Minecraft server info', 'minecraft', user)
  h1.mb-4 Minecraft Server Whitelist
  p 
    | SCCS hosts a public Minecraft server open to the Swarthmore community. Before playing, you'll
    | need to connect your SCCS account to your Minecraft account below.
  p 
    | For more information about the server, check out
    |        #[a(href='https://www.instagram.com/swarthmore.mc/') @swarthmore.mc] on Instagram.
  a.btn.btn-secondary.mb-3(href='https://mc.sccs.swarthmore.edu') Live Server Map

  hr

  if mcInfo !== null
    .row
      .col-12.col-sm-auto.text-center
        img.me-3.mb-3(
          src=`https://crafatar.com/renders/body/${mcInfo.uuid}?overlay=true`,
          alt='Minecraft Skin'
        )
      .col
        h3 You're ready to go!
        p
          | Your Minecraft account #[code #{ mcInfo.username }] has been connected and added to the
          | server whitelist. Connect to #[code mc.sccs.swarthmore.edu] to start playing!
        p.small.text-muted
          | If you'd like to whitelist more than one account, contact the server adminstrator.
        p.small
          form(action='/minecraft/remove', method='post')
            button.btn.btn-link.btn-sm.text-danger.p-0(type='submit') Unlink account

  else
    p You haven't added a Minecraft account yet.
    form#addAccountForm.container.form-inline.px-0(action='/minecraft/', method='post')
      .form-group.mb-3
        .form-floating
          input#usernameInput.form-control(
            type='text',
            name='mcUser',
            placeholder='Username',
            aria-describedby='errorFeedback',
            class={ 'is-invalid': !!err }
          )
          label(for='usernameInput') Minecraft username
          #errorFeedback.invalid-feedback= err || 'An unknown error occured.'
      button.btn.btn-primary.mb-3(type='submit') Add Account
