include include/sauce-common

doctype
+sauce-layout('Reset SAUCE password', '', null, false)
  h1.mb-4 Password Reset
  p
    | Choose a new password for your SCCS account. We use #[a(href='https://github.com/zxcvbn-ts/zxcvbn') #[code zxcvbn]]
    | to test password strength instead of having set requirements, so it doesn't
    | matter what your password looks like as long as it gets a score of at least "Fair."
    | SCCS recommends #[a(href='https://xkcd.com/936/') xkcd-style] passwords, like
    | those produced by #[a(href='https://correcthorse.pw/') this generator].
  form#forgotForm.form-forgot.needs-validation(method='post', novalidate)
    input(type='hidden', name='id', value=id)
    input(type='hidden', name='key', value=key)
    .form-group.mb-3
      .form-floating
        input#passwordInput.form-control(
          type='password',
          name='password',
          placeholder='Password',
          required
        )
        label(for='passwordInput') Password
        #passwordInvalidMessage.invalid-feedback
    #strengthCard.card.mb-3
      .card-body
        .progress.mb-1
          #strengthBar.progress-bar(
            role='progressbar',
            style='width: 0%',
            aria-valuenow='0',
            aria-valuemin='0',
            aria-valuemax='100'
          )
        p#strengthText.card-text.d-none.mb-0
        p#helperText.text-muted.small.card-text.d-none.mt-1
    .form-group.mb-3
      .form-floating
        input#passwordConfirmInput.form-control(type='password', placeholder='Password', required)
        label(for='passwordConfirmInput') Confirm password
        .invalid-feedback
          p Passwords must match.
    button.btn.btn-large.btn-primary.mb-3(type='submit') Reset password

    //- zxcvbn for password strength checks
    //- these are chonky so we load asynchronously
    script(
      src='https://cdn.jsdelivr.net/npm/@zxcvbn-ts/core@1.0.0/dist/zxcvbn-ts.min.js',
      async=false,
      defer=false
    )
    script(
      src='https://cdn.jsdelivr.net/npm/@zxcvbn-ts/language-en@1.0.0/dist/zxcvbn-ts.min.js',
      async=false,
      defer=false
    )
    script(
      src='https://cdn.jsdelivr.net/npm/@zxcvbn-ts/language-common@1.0.0/dist/zxcvbn-ts.min.js',
      async=false,
      defer=false
    )
    script(type='text/javascript').
      (function () {
        window.username = '#{username}';
      })();
    script(type='text/javascript')
      include js/resetPassword.js
