mixin sauce-container
  .d-flex.flex-column.min-vh-100
    if staffMessage
      .bg-primary.text-light
        .container.mx-auto.p-2.text-center
          span!= staffMessage
    header.sticky-top.mb-4
      if !attributes.hideNavbar
        nav.navbar.navbar-expand-sm.navbar-dark.bg-primary(style='background-color: #31425f')
          -
            const PAGES = [
              {
                id: 'docs',
                title: 'Documentation',
                href: '/docs',
                needsAdmin: false,
                needsUser: false,
              },
              {
                id: 'services',
                title: 'Services',
                needsAdmin: false,
                needsUser: true,
                children: [
                  {
                    id: 'account',
                    title: 'Account Options',
                    href: '/account',
                    needsAdmin: false,
                    needsUser: true,
                  },
                  {
                    id: 'mailing',
                    title: 'Mailing Lists',
                    href: '/lists',
                    needsAdmin: false,
                    needsUser: true,
                  },
                  {
                    id: 'minecraft',
                    title: 'Minecraft Server',
                    href: '/minecraft',
                    needsAdmin: false,
                    needsUser: true,
                  },
                ]
              },
              {
                id: 'admin',
                title: 'Admin',
                href: '/admin',
                needsAdmin: true,
                needsUser: true,
              },
              {
                id: 'logout',
                title: 'Sign Out',
                href: '/logout',
                needsAdmin: false,
                needsUser: true,
              }
            ]
          .container-fluid 
            a.navbar-brand.mb-0.h1(href='/') SCCS
            button.navbar-toggler(
              type='button',
              data-bs-toggle='collapse',
              data-bs-target='#navbarNavAltMarkup',
              aria-controls='navbarNavAltMarkup',
              aria-expanded='false',
              aria-label='Toggle navigation'
            )
              span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
              ul.navbar-nav
                mixin showPageIfAllowed(page, user)
                  if (user || !page.needsUser)
                    if ((user && user.admin) || !page.needsAdmin)
                      block
                each page in PAGES
                  +showPageIfAllowed(page, attributes.user, attributes.user)
                    if page.children
                      li.nav-item.dropdown 
                        a.nav-link.dropdown-toggle(
                          id=page.id + 'Dropdown',
                          role='button',
                          data-bs-toggle='dropdown',
                          aria-expanded='false'
                        )= page.title
                        ul.dropdown-menu(aria-labelledby=page.id + 'Dropdown')
                          each child in page.children
                            +showPageIfAllowed(child, attributes.user)
                              li
                                a.dropdown-item(
                                  class={ active: child.id === attributes.pageId },
                                  aria-current=child.id === attributes.pageId ? 'page' : 'false',
                                  href=child.href
                                )= child.title
                    else
                      li.nav-item
                        a.nav-link(
                          class={ active: page.id === attributes.pageId },
                          aria-current=page.id === attributes.pageId ? 'page' : 'false',
                          href=page.href
                        )= page.title
      else
        //- dummy spacer replacing navbar
        div(style='height: 56px')
    main.flex-fill
      .container.mb-4
        if block
          block
        else
          p No content

    footer.footer.mt-auto.py-3(class={ 'bg-primary': !attributes.hideFooter })
      if !attributes.hideFooter
        .container
          span.small.text-white
            | &copy; #{ new Date().getFullYear() } Swarthmore College Computer Society
            | | Problems with this website? Email&nbsp;#[a(href='mailto:staff@sccs.swarthmore.edu', style='color: #fff') staff@sccs.swarthmore.edu].

mixin sauce-layout(title)
  doctype
  html(lang='en')
    head
      include head.pug
      title= title
    body
      +sauce-container&attributes(attributes)
        .row(style='max-width: 768px')
          .col-md-8
            block
      if attributes.includeBootstrapScripts
        script(type='text/javascript', src='/dist/js/bootstrapScripts.js')
