mixin sauce-container(pageId = '', user = null, showNavbar = true, showFooter = true)
  .d-flex.flex-column.min-vh-100
    header
      if showNavbar
        nav.navbar.navbar-expand-sm.navbar-light.fixed-top.bg-light
          -
            const PAGES = [
              {
                id: 'mailing',
                title: 'Mailing Lists',
                href: '/lists',
                needsAdmin: false,
                needsUser: true,
              },
              {
                id: 'minecraft',
                title: 'Minecraft Server',
                href: '/minecraft',
                needsAdmin: false,
                needsUser: true,
              },
              {
                id: 'account',
                title: 'Account',
                href: '/account',
                needsAdmin: true,
                needsUser: true,
              },
              {
                id: 'admin',
                title: 'Admin',
                href: '/admin',
                needsAdmin: true,
                needsUser: true,
              },
              {
                id: 'logout',
                title: 'Sign Out',
                href: '/logout',
                needsAdmin: false,
                needsUser: true,
              }
            ]
          .container-fluid 
            a.navbar-brand.mb-0.h1(href='/') SCCS
            button.navbar-toggler(
              type='button',
              data-bs-toggle='collapse',
              data-bs-target='#navbarNavAltMarkup',
              aria-controls='navbarNavAltMarkup',
              aria-expanded='false',
              aria-label='Toggle navigation'
            )
              span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
              .navbar-nav
                each page in PAGES
                  if (user || !page.needsUser)
                    if ((user && user.admin) || !page.needsAdmin)
                      a.nav-link(
                        class={ active: page.id === pageId },
                        aria-current=page.id === pageId ? 'page' : 'false',
                        href=page.href
                      )= page.title

    main.flex-fill
      .container.mb-4(style='padding-top: 75px')
        if block
          block
        else
          p No content

    footer.footer.mt-auto.py-3(class={ 'bg-light': showFooter })
      if showFooter
        .container
          span.small.text-muted
            | &copy; #{ new Date().getFullYear() } Swarthmore College Computer Society
            | | Problems with this website? Email&nbsp;#[a(href='mailto:staff@sccs.swarthmore.edu') staff@sccs.swarthmore.edu].

mixin sauce-layout(title, pageId = '', user = null, showNavbar = true, showFooter = true)
  doctype
  html(lang='en')
    head
      include head.pug
      title= title
    body
      +sauce-container(pageId, user, showNavbar, showFooter)
        .row(style='max-width: 768px')
          .col-md-8
            block
